<div class="slideshow-container">

  <div class="mySlides fade">
    <img src="/images/danelion.jpeg" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="/images/heart.jpg" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="/images/woods.jpg" style="width:100%">
  </div>

  