<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
        <%= pageTitle%>
    </title>

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">

    <style>
          * 
          {
            box-sizing:border-box
          }

          .slideshow-container 
          {
            max-width: 1000px;
            position: relative;
            margin: auto;
          }

          .mySlides 
          {
            display: none;
          }

        .fade
        {
          animation-name: fade;
          animation-duration: 1.5s;
        }

        @keyframes fade
        {
          from {opacity: .4}
          to {opacity: 1}
        }
    </style>

</head>